[submodule "roles/prov__battle_station"]
	path = roles/prov__battle_station
	url = git@github.com:chomatz/prov__battle_station.git
[submodule "roles/repo__epel"]
	path = roles/repo__epel
	url = git@github.com:chomatz/repo__epel.git
[submodule "roles/repo__rpm_fusion"]
	path = roles/repo__rpm_fusion
	url = git@github.com:chomatz/repo__rpm_fusion.git
[submodule "roles/mgmt__steam_deck"]
	path = roles/mgmt__steam_deck
	url = git@github.com:chomatz/mgmt__steam_deck.git
